{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions"
          ]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "babili",
          {
            "removeConsole": true,
            "removeDebugger": true
          }
        ]
      ]
    }
  }
}
